.setting-containermain {
    font-family: 'Work Sans', sans-serif;
    width: 80%;
    position: absolute;
    /* left: 13rem; */
    top: 97px;
    overflow-y: scroll;
    height: 80vh;
}

.setting-containermain::-webkit-scrollbar {
    display: none;
}

.Setting_div {
    font-size: 23px;
    cursor: pointer;
    text-decoration: underline;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    /* border: 1px solid black; */
    margin-left: 26px;
}

.MASTERS {
    font-weight: 700;
    font-size: 21px;
    line-height: 20px;
    margin: 31px;
    font-family: Open Sans;
    line-height: 1.5;
    font-weight: bold;
}

.Positions {
    width: 21%;
    background-color: #32499F;
    color: white;
    margin: 24px;
    height: 40px;
    padding: 1px;
    margin-top: 0px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    font-size: 16px;
}

@media (max-width: 767px) {
    .setting-container {
        font-family: 'Work Sans', sans-serif;
        width: 80%;
        position: absolute;
        left: 0rem;
        top: 127px;
        overflow-y: scroll;
        height: 80vh;
    }

    .Positions {
        width: 33%;

    }
}