@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

.main-area {
  width: 82%;
  overflow: hidden;
}

.container {
  display: flex;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  max-height: 260px;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .main-area {
    width: 100%;
    overflow-x: hidden;
  }
}